:root{
    --mon:'Montserrat', sans-serif;
    --pop:'Poppins', sans-serif;
    --vol:'Vollkorn', serif;
    --blue: #191970;
    --blue1:#0F52BA;
    --purple : #DC143C;
    --burgendy: #800020;
    --nav_aniamtion_duartion:1s;
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--mon);
}

.home-content{
    width: 80%;
    margin: 10px auto 50px;
    max-width: 800px;
}
h1{
    font-family: var(--pop);
    color: var(--purple);
    font-size: 50px;
}
p{
    margin: 20px auto;
}

/* nabar styling */

.navbar{
    background-color: var(--blue);
    width: 100%;
    height: 11vh;
    position: sticky;
    top: 0;
}
.nav-cover{
    display: inline;
    position: fixed;
    width:200vw;
    height: 200vh;
    top: -200vh;
    left:-200vw;
    background-color: var(--blue);
    border-radius: 0 100% 100% 100%;
    z-index: -1;
    animation-duration: var(--nav_aniamtion_duartion);
    animation-fill-mode:forwards;
    animation-timing-function:linear;
}
.nav-content{
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    padding: 1vh 2vw;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    /* display: none; */
}
.mobile-view{
    display: grid;
    grid-template-columns: 60px 2fr;
    align-items: center;
}
.logo{
    display: inline;
    width: 50px;
}
.mobile-view h2{
    display: inline;
    color: white;
    font-size: 40px;
    font-family: var(--vol);
}
.burger{
    display: none;
    width: 40px;
    justify-self: end;
    cursor: pointer;
}
.burger .line{
    width: 30px;
    margin: 5px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}
.burger:hover .line:nth-of-type(1){
    width: 8px;
}
.burger:hover .line:nth-of-type(2){
    width: 16px;
}
.burger:hover .line:nth-of-type(3){
    width: 23px;
}
nav{
    display: inline;
    right: 0;
    justify-self: end;
}
nav ul{
    display: inline;
}
nav ul li{
    display: inline;
    text-align: center;
    padding: 10px;
    opacity: 0;
    float: left;
    animation: seen;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
nav li:nth-child(2){
    animation-delay: 0.2s;
}
nav li:nth-child(3){
    animation-delay: 0.6s;
}

nav li:nth-child(4){
    animation-delay: 1s;
}
/* nav li:nth-child(4){
    animation-delay: 2s;
} */
nav ul li a{
    color: white;
    text-decoration: none;
    transition-duration: 0.3s;
}nav ul li a:hover{
    color: white;
    font-weight: bolder;
    font-size: 19px;
}
.navon{
    display: block;
}
@media(max-width:680px){
    .nav-content{
        grid-template-columns: 1fr;
    }
    .nav-content .burger{
        display: inline;
    }
    .mobile-view{
        grid-template-columns: 60px 2fr 50px;
    }
    nav{
        display: none;
        justify-self: auto;
    }
    nav ul{
        width: 70%;
        margin:50px auto;
        display: block;
    }
    nav ul li{
        display: block;
        float: none;
        margin: 20px auto;
    }
    .mobile-view h2{
        justify-self: center;
    }
}

@keyframes show {
    100%{
        top: 0vh;
        left: 0vw;
    }
}
@keyframes hide {
    from{
        top: 0vh;
        left: 0vw;
    }
    100%{
        top: -200vh;
        left: -200vw;
    }
}
@keyframes move {
    from{
        
    }
    100%{
        top: -200vh;
        left: -200vw;
    }
}
@keyframes seen {
    from{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}