.home-slide{
  margin-top: var(--top-margin);
}
.img-slide-show{
  position: relative;
  width: 100%;
  height: 600px;
}
.img-slider{
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.img-slide, .slideblock{
  position: absolute;
  display: inline;
  left: 100%;
  width: 100%;
  height: 100%;
  transition-duration: 2s;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .slideblock{
  left: 0;
  background-color: rgb(138, 2, 2);
  z-index: 2;
  height: 700px;
} */
.img-slide:nth-of-type(1){
  z-index: 3;
  left: 0;
  background-image: url('https://images.unsplash.com/photo-1581091226825-a6a2a5aee158?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80');
}
.img-slide:nth-of-type(2){
  background-image: url('https://images.unsplash.com/photo-1581093806997-124204d9fa9d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
}
.img-slide:nth-of-type(3){
  background-image: url('https://images.unsplash.com/photo-1581092580497-e0d23cbdf1dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
}
.img-slide:nth-of-type(4){
  background-image: url('https://images.unsplash.com/photo-1581090466619-e945d2e2980e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80');
}

.box {
  width: 150px;
  margin: 20px auto;
}
.box div {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 2px var(--purple);
  border-radius: 50%;
  cursor: pointer;
}

.box div:nth-of-type(1){
    background-color: var(--purple);
}
.slide-btn{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 300px;
    z-index: 4;
}
.right-btn{
    right: 10px;
    /* background-image: url('E:/My code/uni software and hardware club/resources/images/next.png'); */
}
.left-btn{
  left: 10px;
  /* background-image: url('E:/My code/uni software and hardware club/resources/images/previous.png'); */
}
.right-btn, .left-btn{
  cursor: pointer;
    width: 50px;
    height: 50px;
    background-size: cover;
    position: absolute;
}

/* @media (max-width:1100px){
  .home-slide{
    margin-top: 300px;
  }
  .img-slide-show,.img-slider,.img-slide{
    height: 300px;
  }
  .slide-btn{
    top: 110px;
  }
} */